sudo: false

notifications:
  email:
    on_success: never
    on_failure: change

cache:
  directories:
    - node_modules
    - vendor
    - $HOME/.composer/cache

language: php

php:
  - 5.4
  - 7.1

branches:
  only:
    - /.*/
    - master
    - develop

env:
  matrix:
  - WP_VERSION=4.6
  - WP_VERSION=latest
  - WP_VERSION=trunk

install:
  - bash .dev/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
      composer global require "phpunit/phpunit=5.7.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - composer global require wp-coding-standards/wpcs
  - phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
  - phpcs --standard=.dev/phpcs.ruleset.xml $(find . -name '*.php')
  - phpunit -c .dev/phpunit.xml.dist

after_script:
  - travis_retry php vendor/bin/coveralls -v

jobs:
  fast_finish: true
  exclude:
    - php: 7.1
      env: WP_VERSION=latest
  include:
    - stage: code coverage
      php: 7.1
      env: WP_VERSION=latest
      install:
        - composer require satooshi/php-coveralls
      script:
        - phpunit -c .dev/phpunit.xml.dist --coverage-clover .dev/clover.xml
      after_script: true # skip by returning true

before_deploy:
  - curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli-nightly.phar > /tmp/wp-cli.phar
  - chmod +x /tmp/wp-cli.phar
  - php /tmp/wp-cli.phar package install git@github.com:wp-cli/dist-archive-command.git
  - export RELEASE_FOLDER=reseller-store
  - cp -r ${TRAVIS_BUILD_DIR} /tmp/${RELEASE_FOLDER}
  - mv /tmp/${RELEASE_FOLDER} ${TRAVIS_BUILD_DIR}
  - php /tmp/wp-cli.phar dist-archive ${RELEASE_FOLDER} ${TRAVIS_BUILD_DIR}/${RELEASE_FOLDER}.zip --format=zip --debug

deploy:
  provider: releases
  api_key:
    secure: KV1wbho8gF+xGgZcFkB6Jn7VqwHj+XtIB9IEh0Jq469zVb4Mhxrp+6n1ZyuRbtTq3NaTFoRz0lTGZLkwaEub1Wrb9M5wxG31cLZciSP36fV5wu/Pu5CQe/Q6+MofdSQVbXEL6eVe2H9spvjLg6/ituEK6llKjx3a8OdhL376W8AzwwyUYX1F2/cDcPdMUDpex8iezfiMnLtagxaUF5IRySCPNv6YIcDbNXWhFOw5Glb4z5KbZEKuHFSs3hnCCfSGKean4GV6KCS2l2Y+yDUcJxFJaS+8+xjCb2RK5cmGWbnGxwj8SMPZVyoq5s6KPSaAcLXx5BZsbED7HLxmRf2Vm7/3FIQ/qy4kSQmkzukRsUUICZiErclVAdy41Z7HljO3K3iJJb22yuJfXfNICCKdjNmnlGvvft/hi5KgQ58WopNqX5W4Rydz+2zldzXApl81HSnTFxD0msdRaYSDHp5I2j4SCI8jb+FbaYx2MnLmxl5QkRhcP/AQJm+Snde28Sg6i/c9m1q2wSmjf6cf6Ihp866R6kxfvla7W1xyAnOZ+HiKfzNHCuC3WEPO13mJ2ASE+T7jOa+/H6TifqrDiDtLPCvDgAl4SUQ48Lcrq8rby3KXmTmhvAxnB5iZXLqqMowttGjTyxTE1PRJbdhFfzJfaY9UUYQneWFwmV3fLaBrC94=
  file: $RELEASE_FOLDER.zip
  on:
    tags: true
    repo: godaddy/wp-reseller-store
    php: '7.1'
    condition: "$WP_VERSION=trunk"
  skip_cleanup: true
  overwrite: true
