.rstore-product-icons {

	svg {
		width: 8rem;

		.svg-fill-primary-o {
			fill: #3690FF;
		}

		.svg-fill-black {
			fill: #000000;
		}

		.svg-fill-grey {
			fill: #111111;
		}

		.svg-fill-white {
			fill: #FFFFFF;
		}

		.svg-fill-wordpress {
			fill: #00749a;
		}
	}
}
