.svg-fill-primary-o {
	fill: #3690FF;
}

.svg-fill-black {
	fill: #000000;
}

.svg-fill-gray-light {
	fill: #AEA99C;
}

.svg-fill-white {
	fill: #FFFFFF;
}

.svg-fill-wordpress {
	fill: #00749A;
}

.svg-fill-cpanel {
	fill: #F26C31;
}

.svg-fill-windows {
	fill: #F22307;
}