.svg-fill-primary-o {
	fill: #3690FF;
}

.svg-fill-black {
	fill: #000000;
}

.svg-fill-grey {
	fill: #111111;
}

.svg-fill-med {
	fill: #CCCCCC;
}

.svg-fill-white {
	fill: #FFFFFF;
}

.svg-fill-wordpress {
	fill: #00749a;
}

.svg-fill-cpanel {
	fill: #f26c31;
}

.svg-fill-red {
	fill: #F22307;
}