/* Product Post */

.rstore-product-summary {
	height: 250px;
	overflow: hidden;
	position: relative;
	margin: 0;
}

.rstore-product-summary:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	height: 2em;
	pointer-events: none;
}

.rstore-add-to-cart-form input[type="number"].rstore-quantity {
	display: inline-block;
	margin-right: 10px;
	padding: 0.5278em;
	width: 4em;
}

.rstore-add-to-cart-form .rstore-message {
	display: inline-block;
	margin-left: 5px;
}

.rstore-add-to-cart-form .rstore-loading {
	margin-left: 5px;
}

.rstore-cart {
	display: inline-block;
}

.rstore-loading {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	background-image: url('../images/loading.svg');
	background-size: 28px 28px;
	background-repeat: no-repeat;
}

.rstore-loading.rstore-loading-hidden,
.rstore-cart.rstore-cart-hidden {
	display: none;
}

.rstore-pricing {
	font-size: 0.8em;
}

.rstore-price {
	margin-right: 5px;
	font-size: 1.25rem;
	font-weight: bold;
}

.rstore-retail-price {
	font-size: 1.25rem;
	font-weight: normal;
	color: #ccc;
	text-decoration: line-through;
	padding-right: 5px;
}

.rstore-term {
	margin-left: 5px;
	font-size: 0.9em;
}

/* Domain search widget */
.rstore-message {
	display: inline-block;
	height: 48px;
}

.rstore-message span.dashicons {
	width: 28px;
	height: 28px;
	font-size: 28px;
}

.rstore-message .rstore-success {
	color: #41a62a;
}

.rstore-message .rstore-error {
	color: #a62b2b;
}