.rstore-add-to-cart-form input[type="number"].rstore-quantity {
	display: inline-block;
	width: 4em;
	margin-right: 10px;
	padding: 0.5278em;
}

.rstore-add-to-cart-form .rstore-message {
	display: inline-block;
	margin-left: 5px;
}

.rstore-message span.dashicons {
	width: 28px;
	height: 28px;
	font-size: 28px;
}

.rstore-message .rstore-success {
	color: #41a62a;
}

.rstore-message .rstore-error {
	color: #a62b2b;
}

.rstore-add-to-cart-form .rstore-loading {
	margin-left: 5px;
}

.rstore-loading {
	display: none;
	width: 28px;
	height: 28px;
	vertical-align: middle;
}

.rstore-pricing {
	font-size: 0.8em;
}

.rstore-price {
	margin-right: 5px;
	font-size: 1.25rem;
	font-weight: bold;
	color: #41a62a;
}

.rstore-price del {
	font-weight: normal;
	color: #ccc;
}

.rstore-term {
	margin-left: 5px;
	font-size: 0.9em;
}

body.single-reseller_product .entry-meta {
	display: none;
}
