<phpunit
	bootstrap="../tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">../tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">../</directory>
			<exclude>
				<directory suffix=".php">../includes/butterbean</directory>
				<directory suffix=".php">../includes/cli</directory>
				<directory suffix=".php">../lib</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
